<h3>Create a Video</h3>

<%= form_for(@video) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :youtube_id %>
  <%= f.text_field :youtube_id %>
  <%= f.submit %>
<% end %>
